<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ERROR Page</a>
</nav>

<div>
  <h2>This page does not exist!!</h2>
</div>

<a class="navbar-brand" href="/login">Login</a>