<div class="row justify-content-md-center" style="margin-top: 100px">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/login">SABRE LOGIN PAGE</a>
  </nav>
  <div class="col-md-5">

    {{#if message}}
      <div class="alert {{messageClass}}" role="alert">
        {{message}}
      </div>
    {{/if}}

    <form method="POST" action="/login">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <div class="form-group d-none">
        <label for="crsf">crsf</label>
        <input
          name="crsf"
          type="password"
          class="form-control"
          id="crsf"
          placeholder="crsf "
        />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

  </div>
</div>