<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Protected Page</a>
</nav>

<div>
  <h2>This page is only visible to logged in users</h2>
</div>

<a class="navbar-brand" href="/logout">Logout</a>